<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>moodleintegrator</name>
	<displayName><![CDATA[Moodle Integrator]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Integrate prestashop product with moodle course]]></description>
	<author><![CDATA[Michał Drożdżyński]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
